
div > img{
    height: 400px;
    width: 400px;
}
*{
    font-family: Roboto-Slab;
    color: darkslategray;
    font-size: large;
}
.logo{
    font-size: x-large;
    font-weight: bold
}
.mycont{
    margin-left: 5%;
}